$gap: 10px;
$drobGap: $gap / 2;

.list{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, calc(100% / 3 - 10px / 2));
    grid-gap: 10px;
}

.bottom{
    display: grid;
    grid-template-areas: "left right";
    grid-auto-columns: min-content;
    justify-content: space-between;
    background-color: var(--background_content);


    .right{
        grid-area: right;
        display: flex;

        .button:last-child{
            margin-left: 5px;
        }
    }

    .button{
        padding: 0;
    
    
        &_format{
            grid-area: left;
        }
    }
}